.myNav {
	background-color : #f7f7f7;
	border-bottom: 2px solid rgba(34,36,38,.15);
	display: flex;
}

.myNav-active {
	border-color: #1B1C1D;
	font-weight: 700;
	color: rgba(0,0,0,.95);
}

.myNav-item {	
	color: rgba(0,0,0,.87);
}
