pos-mid : {
  text-align: center;
  display: block;
  margin: 0 auto;
}

pos-rig : {
  text-align:left;
  display: absolute;
  margin: 0 auto;
}

word-gray : {
  color: #efefef;
}

word-black : {
   color: rgba(0,0,0,.87);
}

nav-active : {
  border-color: #1B1C1D;
  color: rgba(0,0,0,.95);
}
