pos-mid : {
  text-align: center;
  display: block;
  margin: 0 auto;
}

pos-rig : {
  text-align:left;
  display: absolute;
  margin: 0 auto;
}

word-gray : {
  color: #efefef;
}

my-nav : {
  background-color: #f7f7f7; 
  border-bottom: 2px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
}
